.content {
  padding: 0;
}

.about h1 span {
  display: block;
  margin: 0 0 8px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
  background-image: linear-gradient(to top, #6a11cb 0%, #005eff 100%);
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: shine 10s linear 1;
}

.caption {
  font-weight: 600;
  font-size: 24px;
  color: #363636;
  width: 420px;
  line-height: 30px;
}

h2 {
  color: #2a2a2b;
  line-height: 40px;
  font-size: 35px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -0.8pt;
}

.about {
  padding: calc(120px + 120px) 0 100px;
  position: relative;
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  height: calc(144px + 100% + 150px);
  width: 100%;
  top: -144px;
  z-index: -1;
}

@media only screen and (min-width: 731px) and (max-width: 1024px) {
  .block.right {
    margin-left: 0px;
  }

  .about {
    padding: calc(90px + 90px) 0 200px;
  }

  .hai {
    padding-top: 5px;
  }

  .caption {
    font-weight: 600;
    font-size: 22px;
    width: 340px;
    margin-top: -10;
    line-height: 28px;
  }

  .contact-name {
    padding-left: 20px;
  }

  .about-name {
    padding-left: 20px;
  }

  .cap {
    width: 350px;
    height: 215px;
  }

  .about h1 span {
    font-size: 33px;
    font-weight: 800;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
  }
}

@media only screen and (min-width: 611px) and (max-width: 730px) {
  .content {
    display: grid;
    justify-content: center;
    margin-left: 20px;
  }

  .about {
    padding: calc(100px + 100px) 0 150px;
    position: relative;
    padding-top: calc(180px);
  }

  .about-name {
    display: none;
  }

  .hai {
    padding-bottom: 5px;
  }

  .nav_contact {
    display: none;
  }

  .caption {
    font-weight: 501;
    font-size: 20px;
    width: 315px;
    margin-top: -10;
    line-height: 28px;
  }

  .contact-name {
    display: none;
  }

  .block.right {
    margin-left: 0px;
  }

  .about h1 span {
    font-size: 33px;
    font-weight: 800;
  }

  .cap {
    width: 330px;
    height: 215px;
  }
}

@media only screen and (min-width: 510px) and (max-width: 610px) {
  .content {
    display: grid;
    justify-content: center;
  }

  .container {
    justify-content: flex-start !important;
  }

  .about {
    padding: calc(100px + 100px) 0 150px;
    position: relative;
    padding-top: calc(180px);
  }

  .about-name {
    display: none;
  }

  .hai {
    padding-bottom: 4px;
  }

  .nav_contact {
    display: none;
  }

  .caption {
    font-weight: 501;
    font-size: 20px;
    width: 315px;
    margin-top: -10;
    line-height: 28px;
  }

  .block.right {
    margin-left: 0px;
  }

  .about h1 span {
    font-size: 33px;
    font-weight: 800;
  }

  .cap {
    width: 330px;
    height: 215px;
  }

  .right {
    width: 70%;
  }
}

@media only screen and (min-width: 430px) and (max-width: 509px) {
  .content {
    display: grid !important;
    justify-content: center !important;
    margin-right: 20px;
  }

  .about {
    padding: calc(100px + 100px) 0 140px;
    position: relative;
    padding-top: calc(190px);
  }

  .about h1 span {
    font-size: 35px;
    font-weight: 800;
  }

  .name {
    justify-content: center;
    display: flex;
    padding: auto;
    margin: 0;
  }

  .hai {
    padding-bottom: 4px;
  }

  .cap {
    width: 330px;
    height: 220px;
  }

  .caption {
    font-weight: 600;
    font-size: 20px;
    width: 310px;
    line-height: 28px;
    word-spacing: 1px;
  }

  .about-name {
    display: none;
  }
}

@media only screen and (min-width: 351px) and (max-width: 429px) {
  .content {
    display: grid;
    justify-content: center;
  }

  .about {
    padding: calc(100px + 100px) 0 140px;
    position: relative;
    padding-top: calc(190px);
  }

  .about h1 span {
    font-size: 32px;
    font-weight: 800;
  }

  .name {
    justify-content: center;
    display: flex;
    padding: auto;
    margin: 0;
  }

  .hai {
    padding-bottom: 3px;
  }

  .cap {
    width: 330px;
    height: 220px;
  }

  .caption {
    font-weight: 600;
    font-size: 19px;
    width: 300px;
    line-height: 28px;
  }

  .about-name {
    display: none;
  }
}

@media only screen and (min-width: 200px) and (max-width: 350px) {
  .content {
    display: grid;
    justify-content: center;
  }

  .about {
    padding: calc(70px + 70px) 0 100px;
    position: relative;
  }

  .about h1 span {
    font-size: 26px;
    font-weight: 800;
  }

  .name_wrap {
    margin: 0;
  }

  .name {
    justify-content: center;
    display: flex;
    padding: auto;
    margin: 0;
  }

  .hai {
    padding-bottom: 0px;
  }

  .cap {
    width: 250px;
    height: 220px;
    margin: 0 auto;
  }

  .caption {
    font-weight: 600;
    font-size: 15px;
    width: 245px;
    line-height: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .about-name {
    display: none;
  }
}
