.works-wrap {
  margin-bottom: 120px;
}

.work-right-wrap {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  justify-content: center !important;
  gap: 2rem;
  margin-top: 15px;
}

.wrap {
  margin-top: 30px;
}

.inner_container {
  padding: 0 0px;
  box-sizing: border-box;
  display: block;
  margin-top: 30px;
}

.works {
  display: flex;
}

.works:hover {
  transition: transform 0.5s ease;
  transform: scale(1.015);
}

.work-name {
  margin-bottom: 0.5rem;
  margin-top: 15px;
}

.workimg {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  min-height: 13rem;
  object-fit: contain;
}

.piece_content {
  margin-top: 10px;
  width: 290px;
}

.piece_title {
  color: #2a2a2b;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 18px;
}

.piece_description {
  color: #696969;
  font-weight: 600;
  font-size: 16px;
}

p {
  color: black;
  font-weight: 400;
  font-size: 16px;
}

a:focus {
  outline: none;
}

@media only screen and (min-width: 1026px) and (max-width: 1160px) {
  .work-right-wrap {
    display: grid;
    justify-content: center !important;
    grid-template-columns: repeat(2, 2fr);
  }
}

@media only screen and (min-width: 926px) and (max-width: 1025px) {
  .container {
    width: calc(100% - 110px - 48px) !important;
  }

  .work-name h2 {
    margin-bottom: 0 !important;
  }

  .work-right-wrap {
    display: grid;
    justify-content: center !important;
    grid-template-columns: repeat(2, 2fr);
  }

  .inner_container {
    max-width: 400px !important;
  }
}

@media only screen and (min-width: 731px) and (max-width: 925px) {
  .container {
    width: calc(100% - 116px - 48px) !important;
  }

  .work-right-wrap {
    display: grid;
    justify-content: center !important;
    grid-template-columns: repeat(2, 2fr);
  }

  .inner_container {
    max-width: 400px !important;
  }

  .works-wrap {
    display: flex;
    flex-direction: column;
  }

  .works {
    display: flex;
  }

  .work-name {
    margin-bottom: 0.5rem;
    margin-top: 15px;
    padding-left: 1.2rem;
  }

  .workimg {
    min-height: 13rem;
  }

  .piece_content {
    width: 250px;
  }
}

@media only screen and (min-width: 611px) and (max-width: 730px) {
  .works-wrap {
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .container {
    width: calc(100% - 145px - 48px) !important;
  }

  .work-name {
    display: none;
  }

  .work-right-wrap {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }

  .piece_content {
    width: 400px;
  }

  .piece_title {
    color: #2a2a2b;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
  }

  .piece_description {
    color: #696969;
    font-size: 15px;
  }

  .workimg {
    min-height: 18rem;
    border-radius: 5px;
  }

  .right {
    width: 70%;
  }
}

@media only screen and (min-width: 510px) and (max-width: 610px) {
  .works-wrap {
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .workcontainer {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .work-right-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .work-name {
    display: none;
  }

  .block.right {
    margin-left: 0px;
  }

  .inner_container {
    max-width: 350px !important;
    margin-left: 10px;
  }

  .piece_content {
    width: 320px;
  }

  .piece_title {
    color: #2a2a2b;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
  }

  .piece_description {
    color: #696969;
    font-size: 15px;
  }

  .workimg {
    min-height: 14rem;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 430px) and (max-width: 509px) {
  .works-wrap {
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .work-container {
    margin: auto !important;
  }

  .work-name {
    display: none;
  }

  .work-right-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .piece_content {
    width: 300px;
  }

  .piece_title {
    color: #2a2a2b;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
  }

  .piece_description {
    color: #696969;
    font-size: 15px;
  }

  .workimg {
    border-radius: 5px;
  }
}

@media only screen and (min-width: 351px) and (max-width: 429px) {
  .works-wrap {
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .work-container {
    margin: auto !important;
  }

  .work-right-wrap {
    display: grid;
    justify-content: center !important;
    grid-template-columns: repeat(1, 0fr);
  }

  .work-name {
    display: none;
  }

  .piece_content {
    width: 300px;
  }

  .piece_title {
    color: #2a2a2b;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
  }

  .piece_description {
    color: #696969;
    font-size: 14px;
  }

  .workimg {
    min-height: 13rem;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 350px) {
  .workimg {
    min-height: 11rem;
    border-radius: 6px;
  }

  .work-container {
    margin: auto !important;
  }

  .works-wrap {
    display: block;
    margin-top: 70px;
    margin-bottom: 80px;
  }

  .work-name {
    display: none;
  }

  .work-right-wrap {
    display: flex;
    justify-content: right;
    flex-direction: column;
  }

  .piece_content {
    width: 250px;
  }

  .piece_title {
    color: #2a2a2b;
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 10px;
  }

  .piece_description {
    color: #696969;
    font-size: 13.5px;
  }
}
